body{
    background-color: rgb(111, 160, 224);
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    text-align: center;
    color: rgb(0, 4, 255);
    margin-bottom: 0px;
}
.container{
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 80px;
    align-items: center;
}
.player{
    color: rgb(0, 4, 255);
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    display: flex;
    flex-flow: column;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
button{
    padding: 20px 40px;
    border-radius: 5px;
    border-color: rgb(11, 11, 136);
    background-color: rgb(0, 4, 255);
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.b2{
    display: none;
}
@media (max-width: 700px) and (min-width: 500px){
    .container{
        gap: 40px;
    }
    .player{
        font-size: 40px;
    }
    img{
        width: 150px;
        height: 150px;
    }
    button{
        padding: 10px 20px;
    }
}
@media (max-width: 500px){
    .b1{
        display: none;
    }
    .b2{
        display: block;
    }
    .container{
        gap: 40px;
        height: fit-content;
        justify-items: center;
        margin-left: 6%;
        margin-bottom: 25px;
    }
    .player{
        font-size: 40px;
    }
    img{
        width: 140px;
        height: 140px;
    }
    button{
        padding: 10px 20px;
        margin: auto;
    }
}